body {
    background-color: hsl(212, 45%, 89%);
}

.qr-container {
    background-color: hsl(0, 0%, 100%);
    padding: 16px;
    width: 320px;
}

.qr-code-image {
    width: 100%;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }